---
layout: default.njk
---

  {%- for url in collections.urls -%}
    <br><a href="{{ url.data.url }}" target="_blank">{{ url.fileSlug }}</a>
      <p class="tiny">&nbsp; {{ url.data.url  }}</p>
  {% endfor %}

