---
layout: messages-default.njk
---

  <h1><center><span style="font-weight:normal">{{ title or pkg.name  }}</span></center></h1>
  <center>

	<!--p class="tiny">{{ page.date }}</p-->

  <p class="note">
  {{ note }}
  </p>
  </center>

	<p>
	{{ content | safe }}
	</p>


