---
layout: notes-default.njk
---

{%- for note in collections.notes | reverse -%}
    <p><span class='noteTitle'>
      <a href="{{ note.url }}" >{{ note.fileSlug | replace("-", " ") }}</a>
    </span></p>
    <p class="teeny">{{ note.date }}</p>
    <p class="tiny">{{ note.data.note  }}</p>
{% endfor %}
